<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URFUBE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', path='styles/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', path='styles/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', path='styles/style_header.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', path='styles/style_main.css')}}">
    {% block style %}
    {% endblock %}

</head>

<body>
    <header class="header">
        <a href={{links['main']}}>
            <div class="header-logo">URFUBE</div>
        </a>
        <form action="" class="flex header-search">
            <input type="text" class="header-search-input">
            <button class="bth-search">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="32px" height="32px">
                    <path
                        d="M 27 9 C 17.075 9 9 17.075 9 27 C 9 36.925 17.075 45 27 45 C 31.129213 45 34.9263 43.587367 37.966797 41.240234 L 51.048828 54.322266 C 51.952828 55.226266 53.418266 55.226266 54.322266 54.322266 C 55.226266 53.418266 55.226266 51.952828 54.322266 51.048828 L 41.240234 37.966797 C 43.587367 34.9263 45 31.129213 45 27 C 45 17.075 36.925 9 27 9 z M 27 13 C 34.719 13 41 19.281 41 27 C 41 34.719 34.719 41 27 41 C 19.281 41 13 34.719 13 27 C 13 19.281 19.281 13 27 13 z" />
                </svg>
            </button>
        </form>
        {% if account == None %}
        <form method="get" action="http://127.0.0.1:8000/page/auth/login"><button type="submit" class="bth main-content-actions-add_bth">Войти</button></form>
        {% else %}
        <a href={{links['account']}} class="header-user_icon">
            <img {% block user_img %} {% endblock %} alt="Изображение пользователя">
        </a>
        {% endif %}
    </header>
    {% block main %}
    {% endblock %}
    <footer class="flex">
        <p>Емельянов Егор Михайлович</p>
        <p>РИ-210949</p>
    </footer>
    {% block js %}
    {% endblock %}

</body>

</html>