<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URFUBE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', path='styles/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', path='styles/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', path='styles/style_header.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', path='styles/style_main.css')}}">
    {% block style %}
    {% endblock %}

</head>

<body>
    <header class="header">
        <a href={{links['main']}}>
            <div class="header-logo">URFUBE</div>
        </a>

        {% if account == None %}
        <form method="get" action={{links['login']}}><button type="submit" class="bth main-content-actions-add_bth">Войти</button></form>
        {% else %}
        <a href={{links['account']}} class="header-user_icon">
            <img {% block user_img %} {% endblock %} alt="Изображение пользователя">
        </a>
        {% endif %}
    </header>
    {% block main %}
    {% endblock %}
    <footer class="flex">
        <p>Емельянов Егор Михайлович</p>
        <p>РИ-210949</p>
    </footer>
    <script src="{{ url_for('static', path='js/config.js') }}"></script>
    {% block js %}
    {% endblock %}

</body>

</html>