{% extends "base.html" %}

{% block user_img %}
    src={{account.link_img}}
{% endblock %}

{% block style %}
        <link rel="stylesheet" href="{{ url_for('static', path='styles/style_page_user.css')}}">
{% endblock %}

{% block js %}
         <script src="{{ url_for('static', path='js/account.js')}}"></script>
{% endblock %}

{% block main %}
    <main>
        <div class="main-user_header_container">
            <div class="flex main-user_header">
                <div class="flex">
                    <img src={{user.link_img}} alt="" class="maim-user_header-img">
                    <div class="main-user_header-info">
                        <p class="main-user_header-info-nickname">{{user.nickname}}</p>
                        <div class="flex">
                            <p style="margin-right: 5px;">Подписчиков: </p>
                            <p id="count_subs" class="main-user_header-info-subs"> {{user.count_subs}}</p>
                        </div>
                    </div>
                </div>
                {% block bth_out %}
                    {% endblock %}
            </div>

        </div>

        <div class="flex-column main-content">
            {% block actions%}
            {% endblock %}
            <div class="main-gr_container">
                <ul class="main-list_video">

                    {% for e in user_videos%}
                    <li id="{{e.id}}" class="flex main-list_video-item">
                        <a href={{plv}}{{e.id}} class="flex">
                            <img src={{e.poster_link}} alt="" class="main-list_video-item-preview">
                        <div class="flex-column main-list_video-item-info">
                            <div>
                                <p class="main-list_video-item-info-title">{{e.title}}</p>
                                <p class="main-list_video-item-info-auther">{{e.nickname}}</p>
                                <p class="main-list_video-item-info-descr">{{e.description}}
                                </p>
                            </div>
                            <div class="flex main-list_video-item-info-block">
                                <p class="block-views">Просмотров: {{e.count_views}}</p>
                                <p class="block-date">{{e.published_at.strftime('%Y-%m-%d')}}</p>
                            </div>
                        </div>
                        </a>
                        {% if _bool %}
                            <div>
                                <button class="bth bth-remove-video" onclick="remove_video('{{e.id}}');">Удалить</button>
                            </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                    <button name="0" class="bth bth-more" onclick="more({{await_count}}, name);">Показать ещё</button>
            </div>
        </div>



    </main>
{% endblock %}
