{% extends "user_base.html" %}

{% block user_img %}
    src={{user.link_img}}
{% endblock %}

{% block js %}
        <script src="{{ url_for('static', path='js/account.js') }}"></script>
{% endblock %}

{% block bth_out%}
    <div><button class="bth bth-out" onclick="logout();">Выйти из аккаунта</button></div>
{% endblock %}

{% block actions %}
    <div class="flex main-content-actions">
        <ul class="flex main-content-actions-list">
            <li class="main-content-actions-list-item">
                <button id="my_video" class="acc-action active" onclick="action(0, id);">Мои видео</button>
            </li>
            <li class="main-content-actions-list-item">
                <button id="history" class="acc-action" onclick="action(1, id);">История</button>
            </li>
            <li class="main-content-actions-list-item">
                <button id="liked" class="acc-action" onclick="action(2, id);">Любимые</button>
            </li>
            <li class="main-content-actions-list-item">
                <button id="subs" class="acc-action" onclick="action(3, id);">Подписки</button>
            </li>
        </ul>
        <form method="get" action="http://127.0.0.1:8000/page/upload_page"><button type="submit" class="bth main-content-actions-add_bth">Новое видео</button></form>
    </div>
{% endblock %}
