{% extends "user_base.html "%}

{% block js %}
         <script src="{{ url_for('static', path='js/user.js')}}"></script>
{% endblock %}

{% block actions %}
    <div class="flex main-content-actions">
        <ul class="flex main-content-actions-list">
            <li class="main-content-actions-list-item">
                <button id="my_video" class="acc-action active" onclick="alerted(0, id);">Видео пользователя: {{user.nickname}}</button>
            </li>
        </ul>
        {% if is_sub %}
        <button class="bth bth-unsub" onclick="unsubscribe({{user.id}});">Отписаться</button>
        {% else %}
        <button class="bth bth-sub" onclick="subscribe({{user.id}});">Подписаться</button>
        {% endif %}
    </div>
{% endblock %}
