{% for e in videos%}
            <li class="main-list_video-item">
                <a href={{plv}}{{e.id}} id="e.id" >
                    <img src={{e.poster_link}} alt="" class="main-list_video-item-preview">
                <div class="main-list_video-item-info">
                    <p class="main-list_video-item-info-title">{{e.title}}</p>
                    <p class="main-list_video-item-info-descr">{{e.nickname}}</p>
                    <div class="flex main-list_video-item-info-down_cont">
                        <p class="main-list_video-item-info-view">56 просмотров</p>
                        <p class="main-list_video-item-info-date">{{e.published_at.strftime('%Y-%m-%d')}}</p>
                    </div>
                </div>
                </a>
            </li>
{% endfor %}